<div class="well">
  <p class="text-muted">Added by <strong><%= comment.user %></strong> on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>

  <blockquote>
    <p><%= comment.body %></p>
  </blockquote>
  <%= link_to "Del", [comment.post, comment], :confirm => 'Are you sure?', :method => :delete %>
</div>