<form id="media-upload">

<input name="filedata" id="filedata" type="file" accept="image/*,video/*">
<input type="submit">
</form>

<script>
    $(document).ready(function(){

        $('#media-upload').submit(function(e){
            var formdata = new FormData($('#media-upload')[0]);
            e.preventDefault();
            $.ajax({
                url: 'https://api.vid.me/video/upload',
                method: 'POST',
                data: formdata,
                cache: false,
                contentType: false,
                processData: false
            }).done(function(result) {
                var data = $.parseJSON(result);
                console.log(data.video.video_id);
                console.log(data.video.full_url);
                $('#submission_url').val(data.video.full_url);
            });
        });
    });
</script>